<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.function.flowControllerActionServiceSao.dao.CodeDao">
	 
	 <resultMap type="map" id="returnMapObj">
	 
	 		<result property="flowServiceSaoId" column="FLOW_SERVICE_SAO_ID"/>
 			<result property="saoName" column="sao_name"/>
			<result property="saoMethodName" column="sao_method_name"/>
			<result property="saoMethodDesc" column="sao_method_desc"/>
			<result property="remark" column="remark"/>
	</resultMap>
	
	<select id="getList" resultMap="returnMapObj" parameterType="map">
				select t.FLOW_SERVICE_SAO_ID,t2.sao_name, t1.sao_method_name, t1.sao_method_desc,t.remark
  from sys_flow_service_sao t, sys_sao_method t1, sys_sao t2
 where t.sao_id = t2.sao_id
   and t.sao_method_id = t1.sao_method_id 
   and t.flow_action_service_id = '${flowActionServiceId}'

	</select>
</mapper>