<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.function.questionResolve.dao.CodeDao">
	 
	 <resultMap type="map" id="objmap">
	 		<result property="questionResolveId" column="question_resolve_id"/>
 			<result property="questionId" column="question_id"/>
			<result property="questionDesc" column="question_desc"/>
			<result property="questionType" column="question_type"/>
			<result property="isResolve" column="is_resolve"/>
			<result property="questionResolveDesc" column="question_resolve_desc"/>
 			<result property="remark" column="remark"/>
	</resultMap>
	
	<select id="getList" resultMap="objmap" parameterType="map">
				 select question_resolve_id,
       question_id,
       question_desc,
       question_type,
       question_resolve_desc,
       remark,
       is_resolve
  from sys_question_resolve t
  
  where question_id ='${questionId}'
  
  order by question_resolve_id asc  
	</select>
</mapper>