<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.function.flowControllerActionServiceDao.dao.CodeDao">
	 
	 <resultMap type="map" id="returnMapObj">
	 	<result property="flowActionServiceId" column="flow_action_service_id"/>
 			<result property="serviceName" column="service_name"/>
			<result property="serviceMethodName" column="service_method_name"/>
			<result property="serviceMethodDesc" column="service_method_desc"/>
			<result property="remark" column="remark"/>
	</resultMap>
	
	<select id="getList" resultMap="returnMapObj" parameterType="map">
				select t.flow_action_service_id,t2.service_name, t1.service_method_name, t1.service_method_desc, t1.remark
  from sys_flow_action_service t, sys_service_method t1,sys_service t2
 where t.service_method_id = t1.service_method_id and t2.service_id=t1.service_id
   and t.flow_controller_action_id = '${flowControllerActionId}'

	</select>
</mapper>