<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.function.flowControllerActionServiceSaoInterface.dao.CodeDao">
	 
	 <resultMap type="map" id="returnMapObj">
	 
	 		<result property="interfaceId" column="interface_id"/>
 			<result property="interfaceName" column="interface_name"/>
			<result property="interfaceType" column="interface_type"/>
			<result property="insertfaceDesc" column="insertface_desc"/>
			<result property="remark" column="remark"/>
	</resultMap>
	
	<select id="getList" resultMap="returnMapObj" parameterType="map">
				select t.interface_id,
       t1.interface_name,
       t1.xt_name,
       t1.interface_type,
       t1.insertface_desc
  from sys_sao_method_interface t, sys_interface t1
 where t.interface_id = t1.interface_id
   and t.sao_method_interface_id  = '${saoMethodInterfaceId}'

	</select>
</mapper>