<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.function.flowControllerAction.dao.CodeDao">
	 
	 <resultMap type="map" id="returnMapObj">
 			<result property="actionName" column="action_name"/>
			<result property="actionDesc" column="action_desc"/>
			<result property="remark" column="remark"/>
			<result property="flowControolerActionId" column="flow_controoler_action_id"/>
	</resultMap>
	
	<select id="getList" resultMap="returnMapObj" parameterType="map">
				select t.flow_controoler_action_id,t1.action_name, t1.action_desc, t1.remark
  				from sys_flow_controller_action t, sys_action t1
 				where t.action_id = t1.action_id
 				
   				and t.controller_method_id = '${controllerMethodId}'

	</select>
</mapper>